transformers>=4.40.0,<5.0.0
datasets>=2.18.0
bitsandbytes>=0.43.0
accelerate>=0.27.0
sumy==0.12.0
evaluate>=0.4.0
rouge-score>=0.1.2
sentencepiece>=0.1.99
protobuf>=3.20.0
absl-py>=1.0.0
bert-score>=0.3.13
nltk>=3.8.1
# summac must be installed separately: pip install --no-deps git+https://github.com/tingofurro/summac.git

# NOTE: The QA-Eval pipeline requires conflicting dependencies, hence requiring a completely isolated environment
# To run the QA evalution, please find the folder QA_Evaluation, go through Readme_QA.md for instructions.
